-if current_user.role == "admin"
  -@edumails.where("status = 'Pending'").each do |edumail|
    %br/
    =edumail.imie
    =edumail.nazwisko
    =edumail.nr_albumu
    =edumail.email
    =edumail.updated_at
    %br/
    =link_to "Approve", edit_edumail_path(edumail)
    |
    =link_to "Delete", edumail_path(edumail), method: :delete
-else
  -if(@edumails.where(email: current_user.email).count > 0)
    Your edu-mail:
    =@edumail.edu_mail
    %br/
    Your edu-pass:
    =@edumail.edu_password
    %br/
    Status of your request:
    =@edumail.status
    %br/

    -if @edumail.status=="Pending"
      =@edumail.imie
      =@edumail.nazwisko
      =@edumail.nr_albumu
      =@edumail.faculty
      =@edumail.email
      =@edumail.updated_at
      =link_to "Delete", edumail_path(@edumail), method: :delete
  -else
    You dont have requests for edumail
    %p=link_to "new Request", new_edumail_path
