%h1 Hallo

=link_to "log in", new_user_session_path

=link_to "Sign in", new_user_registration_path

=link_to "Log Out", destroy_user_session_path, method: :delete

-@edumails.each do |edumail|
  =edumail.user_id

%p=link_to "new Request", new_edumail_path