!!!
%html
%head
  %title Edumailer
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  .nav.navbar.navbar-default
    -if user_signed_in?
      .logo
        -if current_user.role == "admin"
          %h1 Hallo admin
        -else
          %h1 Hallo user
      .user-panel
        =link_to "Log Out", destroy_user_session_path, method: :delete
  .panel.panel-default
    =yield

